[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
yapf = "*"
autopep8 = "*"

[packages]
requests = "*"
fastapi = {extras = ["all"],version = "*"}
gunicorn = "*"
uvicorn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
